@import "../../styles/styleVariables.scss";

.form {
  position: absolute;
  top: 30%;
  left: 40%;
  width: 250px;
  height: 300px;
  padding: 15px;
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: $none;
  border: 5px solid gray;
  border-radius: 5px;
}

.heading {
  margin: 25px auto 30px;
  color: black;
  font-size: 30px;
}

.input {
  border: 2px solid gray;
  border-radius: 3px;
  padding: 5px 0 5px 2px;
  background: transparent;

  &:focus {
    outline: none;
  }
}

.button {
  max-width: 100%;
  width: 100%;
  height: 2rem;
}

.joincontainer {
  height: 2rem;
  display: flex;
  justify-content: center;
}

.joininput {
  border: 3px solid gray;
  border-right: none;
  border-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  padding: 5px 0 5px 2px;
  background: transparent;

  &:focus {
    outline: none;
  }
}

.joinbutton {
  margin: 0;
  height: 100%;
  width: 100%;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  background-color: rgba($color: $red, $alpha: 0.5);

  &:hover {
    color: white;
    font-weight: bold;
    background-color: rgba($color: $red, $alpha: 1);
  }
}

.createbutton {
  height: 2rem;
  background-color: rgba($color: $blue, $alpha: 0.5);

  &:hover {
    color: white;
    font-weight: bold;
    background-color: rgba($color: $blue, $alpha: 1);
  }
}
.sharediv {
  cursor: copy;
  height: auto;
  padding-left: 5px;
  text-align: center;
}

.sharetop {
  margin: 0;
  font-size: medium;
  width: 100%;
  text-align: center;
}

.sharebottom {
  margin: 0;
  background-color: transparent;
  border: none;
  font-size: medium;
  width: 100%;
  text-align: center;

  &:hover {
    cursor: inherit;
  }
  &:focus {
    outline: none;
  }
}
